<%= link_to "Nova pessoa", new_in_need_path, class:"btn btn-success btn-sm" %>
<table class="table table-hover">
  <tr style="color:white; background-color:DimGrey">
    <th>Nome</th>
    <th>CPF</th>
    <th>Data de Nascimento</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>Número de Pessoas</th>
    <th>Renda Familiar</th>
    <th>Itens</th>
    <th>Ações</th>
  </tr>

  <% @in_needs.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.cpf %></td>
      <td><%= person.birthdate %></td>
      <td><%= person.address %></td>
      <td><%= person.phone %></td>
      <td><%= person.n_members %></td>
      <td><%= person.income %></td>
      <td><%= person.items %></td>
      <td><%= link_to "Doar", donation_logs_path(in_need_id: person.id), method: :post, class:"btn btn-success btn-sm" %></td>
    </tr>
  <% end %>

</table>
