<div class="container">
<%= form_for :produtos do |p| %>
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Produtos</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Descrição</label>
  <div class="col-md-4">
  <%= p.text_field :title, :class => 'form-control input-md', :required => 'true', :placeholder => 'Descrição' %>
  <span class="help-block">Insira o nome do produto</span>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="botao_salvar"></label>
  <div class="col-md-8">
    <%= p.submit 'SALVAR', :class => 'btn btn-success' %>
    <button id="botao_cancelar" name="botao_cancelar" class="btn btn-danger">Cancelar</button>
  </div>
</div>

</fieldset>
<% end %>
</div>

<!-- <%= form_for :article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %> -->
