<h1>Cadastro de Necessitados</h1>

<form>
    <%= label_tag "Nome" %><br>
    <%= text_field :name, type: "text" %><br>

    <%= label_tag "CPF" %><br>
    <%= text_field :cpf, type: "text" %><br>

    <%= label_tag "Data de Nascimento" %><br>
    <%= text_field :birthdate, type: "text" %><br>

    <%= label_tag "Endereço" %><br>
    <%= text_field :address, type: "text" %><br>

    <%= label_tag "Telefone" %><br>
    <%= text_field :phone, type: "text" %><br>

    <%= label_tag "Número de dependentes" %><br>
    <%= text_field :n_members, type: "number" %><br>

    <%= label_tag "Renda Familiar" %><br>
    <%= text_field :income, type: "number" %><br>

    <%= label_tag "Itens de necessidade" %><br>
    <%= text_field :items, type: "text" %><br>

    <%= submit_tag "salvar", :type => "submit" %>
</form>
